RewriteEngine On
# Si el proyecto está en una subcarpeta, agrégala aquí:
RewriteBase /go_cart/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
